# Temporary WIP items
/src/PlacementLocal.client.lua
/src/init.lua

# Project file
/build.rbxm
/StructurePlacer.rbxmx
/StructurePlacer.rbxm
/StructurePlacer.rbxlx
/StructurePlacer.rbxl

# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock